html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: "";
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #F3F4F5;
  border-bottom: 1px solid #DBDFE1;
}

h1 {
  font-size: 30px;
  font-weight: 200;
  line-height: 0.7;
}

h5 {
  font-size: 10px;
  line-height: 0.7;
  font-weight: 500;
  color: #7C8D9F;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  color: #6F787E;
}

.primary {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #26bbf0;
  padding: 0 15px;
  height: 30px;
}

.primary:hover {
  background-color: #7ad5f9;
  cursor: pointer;
}

.secondary {
  border: 1px solid #C4C9CD;
  border-radius: 4px;
  padding: 11px 15px;
  color: #6F787E;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin-left: 10px;
}

.secondary:hover {
  color: #3F4142;
  cursor: pointer;
}

.flow-options {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  border-radius: 25px;
  padding: 5px 20px;
  position: fixed;
  bottom: 50px;
  border-top: 1px solid #F3F4F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.flow-options code:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #F3F4F5;
}

select.primary {
  line-height: 18px;
  color: transparent;
  min-width: 90px;
  outline: none;
}

.close {
  height: 14px;
  width: 14px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.close::before {
  content: '';
  top: -1px;
  border-radius: 2px;
  position: absolute;
  background-color: #6F787E;
  left: calc(50% - 1px);
  height: 16px;
  width: 2px;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.close::after {
  content: '';
  border-radius: 2px;
  top: -1px;
  left: calc(50% - 1px);
  height: 16px;
  width: 2px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  position: absolute;
  background-color: #6F787E;
}

.separator {
  height: 1px;
  width: 40px;
  box-sizing: border-box;
  margin: 30px auto;
  background-color: #F3F4F5;
}

.data-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  height: calc(100vh - 50px);
}

.data-block {
  height: 500px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 60px;
}

.data-block:nth-of-type(2) {
  border-left: 1px solid #F3F4F5;
}

.data-block h1 {
  margin-bottom: 80px;
}

.data-block h5 {
  margin-top: 20px;
}

.data-block .img-license {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 125px;
  width: 180px;
  box-sizing: border-box;
  font-size: 18px;
  color: #6F787E;
  background-image: url("/img/license.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.data-block .img-license code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 2px;
  margin: 12px 0 0 30px;
}

.data-block .addon {
  background-image: url("/img/addon.svg");
}

.data-block .addon code {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.2;
  width: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.data-button-grouping {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.data-button-grouping kbd {
  position: absolute;
  pointer-events: none;
  left: 15px;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.data-button-grouping kbd::before, .data-button-grouping kbd::after {
  content: '';
  height: 5px;
  width: 1.5px;
  background-color: white;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 4px;
}

.data-button-grouping kbd::before {
  transform: rotate(45deg);
  right: -17px;
}

.data-button-grouping kbd::after {
  right: -14px;
  transform: rotate(-45deg);
}
